@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;600;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0 auto;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
.nav {
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  padding: 8px 24px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  width: 100%;
  border-bottom: #E9E9E7 solid 1px;
  &-links {
    a {
      color: #000;
      text-decoration: none;
      &:hover {
        color: #787673;
      }
    }
    list-style-type: none;
    display: flex;
    gap: 55px;
  }
  &-logo {
    font-size: 24px;
    font-weight: 700;
  }
  & .block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.header {
  position: relative;
background: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.00) 102.06%), url('./assets/BackGround1.jpg'), lightgray 50% / cover no-repeat;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 70px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding: 0 120px ;
  
  &-text {
    width: 100%;
    h1 {
      font-size: 96px;
      font-style: normal;
      font-weight: 700;
      line-height: 90px;
    }
    h2 {
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
    }
    &-buttons {
      display: flex;
      gap: 30px;
    }
  }
}

.text-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px;
  }
  p {
    width: 390px;
    color: #787673;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  &.column {
    flex-direction: column;
    gap: 40px;
    h3 {
      margin-bottom: 33px;
    }
    p {
      width: 100%;
    }
  }
  &.languages h3{
    width: 390px;
  }
}
.title-section {
  padding: 140px 0;
  h1 {
    color: #000;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
  }
}

.image {
  width: 100%;
  img {
    width: 100%;
  border-radius: 15px;
 }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hr {
  height: 1px;
  background: #E9E9E7;
  width: 100%;
}

.footer {
  padding: 80px 0 40px 0 ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    display: flex;
    gap: 20px;
    a{ 
      color: #242424;
    }
  }
}


.zoom {
  position: sticky;
  top: 20vh;
  will-change: transform;
  width: 100%;
  transform: scale(2.2);
   transition: transform 0.3s ease;
}

.bottom {
  height: 100vh;
}

.top {
  height: 80vh;
}

.wrap {
  height: 200vh;
}

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
    &, &:hover, &:active, &:focus {
      border: none;
    }
}

#myBtn {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  border: none;
  padding: 0px;
  background: transparent;
  color: transparent;
  border: transparent 0px solid;
  &.visible{
    background-image: url('./assets/play.png');
    background-repeat: no-repeat;
    background-position: center center;
  }
}





body {
  position: relative;
  height: 100vh;
}
        
.wrapper {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  &.transperent div{
    background: transparent;
  }
}

.video-main {
  position: relative;
  display: inline-block;
}

.video {
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: transparent;
  color: #fff;
  display: inline-block;
  background: #000000;
  z-index: 999;
}

@keyframes waves {
  0% {
    -webkit-transform: scale(0.2, 0.2);
    transform: scale(0.2, 0.2);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
  50% {
    opacity: 0.9;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  }
  100% {
    -webkit-transform: scale(0.9, 0.9);
    transform: scale(0.9, 0.9);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.fa-play:before {
  content: "\f04b";
}

.waves {
  position: absolute;
  width: 150px;
  height: 150px;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  border-radius: 100%;
  right: -50px;
  bottom: -50px;
  z-index: -1;
   -webkit-animation: waves 3s ease-in-out infinite;
  animation: waves 3s ease-in-out infinite;
}
        
.wave-1 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.wave-2 {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.wave-3 {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}



/* A grid of boxes */
.box-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  justify-items: center;
  justify-self: center;
}

/* An emoji box */
.box {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 30vw;
  max-height: 250px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
}